<app-header />
<main class="w-full h-full font-default">
  <section class="m-8 grid grid-cols-[1fr_5fr] gap-8">
    <aside class="w-full h-full flex flex-col gap-2">
      <h4 class="text-3xl font-semibold mb-4">Users</h4>
      @for (user of users; track user.id){
        <app-user [user]="user" (select)="onSelectUser($event)"/>
      }
    </aside>
    <aside class="w-full h-full flex flex-col gap-4">
      @if (selectedUser) {
        <app-tasks [name]='selectedUser.name + " Tasks"' />
      }
      @else {
        <app-tasks [name]="'Tasks'" />
      }
    </aside>
  </section>
</main>
